<?xml version="1.0"?>

<launch>

      <!-- Transformation Configuration ... Setting Up the Relationships Between Coordinate Frames --> 
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0.225 0 0.500 0 0 0 base_link laser 30" />
  <!-- <node pkg="tf" type="static_transform_publisher" name="base_link_to_camera" args="0.20 0 0.05 11/7 0 -11/7 base_link camera_link 30" /> -->
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_camera" args="0.225 0 0.306 0 0 0 base_link camera_link 30" />
  <node pkg="tf" type="static_transform_publisher" name="imu_broadcaster" args="0.12 -0.19 0.19 0 0 0 base_link imu_link 30" />
  <!-- <node pkg="tf" type="static_transform_publisher" name="imu_broadcaster" args="0 0 0 0 0 0 camera_link imu_link 30" /> -->
  <node pkg="tf" type="static_transform_publisher" name="base_link_broadcaster" args="0 0 0.21 0 0 0 base_footprint base_link 30" />
  <!-- <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom 30" /> -->
   <!-- <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_odom" args="0 0 0 0 0 0 odom base_footprint 30" /> -->

<!-- Motor Driver Communication Node -->
  <include file="$(find drive_wheel)/launch/drive_wheel.launch"/>

<!-- Odometry Calculation -->
  <node pkg="differential_drive" name="diff_tf" type="diff_tf.py"/>

<!-- Realsense Camera Node -->
  <!-- <include file="$(find realsense2_camera)/launch/rs_camera.launch"/> -->
  <!-- <include file="$(find realsense2_camera)/launch/rs_rgbd.launch"/> -->

  <!-- <include file="$(find depthimage_to_laserscan)/launch/launchfile_sample.launch"/> -->
  

<!-- Realsense IMU -->
  <!-- <node pkg="realsense_imu" name="realsense_imu" type="realsense_imu.py"/> -->

<!-- <node name="imu_filter_node_for_orientation" pkg="imu_complementary_filter" type="complementary_filter_node" >
  </node> -->

  <!-- Run mpu_6050_driver package (IMU Sensor) -->
  <!-- <include file="$(find mpu_6050_driver)/launch/imu_demo.launch"/> -->

   <!-- IMU Arduino Node -->
<include file="$(find mpu6050_imu_driver)/launch/mpu6050_imu.launch"/>

  <!-- Map File -->
  <arg name="map_file" default="$(find navi_launch2)/maps/map16.yaml"/>
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" />

<!-- Lidar -->
  <include file="$(find rplidar_ros)/launch/rplidar.launch"/>

<!-- Robot Localization Node -->
  <node pkg="robot_localization" type="ekf_localization_node" name="robot_localization"  clear_params="true">
    <rosparam command="load" file="$(find navi_launch2)/param/ekf.yaml" />
    <!-- <remap from="odometry/filtered" to="odom" /> -->
  </node>

<!-- <include file="$(find navi_launch2)/launch/localization_imun_edit.launch"/>  -->


  <!-- amcl -->
<include file="$(find navi_launch2)/launch/amcl.launch"/>

<!-- move_base -->
<include file="$(find navi_launch2)/launch/move_base.launch"/> 




  </launch>